* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif
 }

 .navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 40px;
  background-color: hsla(214, 53%, 45%, 0.163);
 }

 .navbar ul {
  display: flex;
  list-style: none;
  gap: 15px;
  justify-content: center;
 }

  .navbar ul li a {
  display: inline;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #333;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

section {
  display: block;
  text-align: center;
  margin-top: 100px;
}

section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
section p {
  font-size: 18px;
  color: #555;
}

#about , #work , #resume {
  list-style: none;
  padding: 0;
  background-color: hsla(214, 59%, 53%, 0.056);
  margin-bottom: 20px;
}

#contact {
  background-color: hsla(214, 59%, 53%, 0.056);
  padding: 20px;
  text-align: center;
}

input[type="text"], input[type="email"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 70%;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 5kpx;
  font-weight: bold;
}

input[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  color: white;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: black;
}